.heart {
    cursor: pointer;
    display: inline-block;
  }
  
  .heart.liked {
    background-image: url(../Images/heartIcon2.png);
    width: 100px;
    height: 100px;
 filter: brightness(0) saturate(100%) invert(45%) sepia(89%) saturate(7212%) hue-rotate(346deg) brightness(104%) contrast(103%); 
  }
  