.searchContainer {
    position: relative;
    width: 200px; 
  }
  .searchBar {
    width: 60%; /* cut the width so letters don't interfere with logo */
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    display: none; /* Initially hide the search bar */
  }
  .searchBar input {
    flex: 1; /* Allow input to take remaining space */
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: padding-right 0.3s ease; 
  }
  
  .visible {
    display: block ; /* Show the search bar when visible */
  }
  
  .searchIcon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
  }
  @media (max-width: 992px) {
       .searchContainer {
        width: 150px;
       }
       .searchBar {
        width: 50%; 
       }
  }
  @media (max-width: 768px) {
    .searchContainer {
      width: 130px;
     }
  }
  @media (max-width: 576px) {
  .searchContainer {
    display: none;
  }
  .searchContainer.visble {
    display: block;
  }
}
